/Library
/Build/game_BackUpThisFolder_ButDontShipItWithYourGame
/Build/game0_BackUpThisFolder_ButDontShipItWithYourGame
/Build/iOS
/Build
/obj
/Temp
/AssetBundles
/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
/Cache
/.vs
/Logs
/obj

*.sln
*.csproj
*.suo
*.apk
*.zip
*.ipa
*.log
*.vsconfig
*.idea